#{set title:'showQuesiton' /}
 

<head>
<title>Knowledge Base</title>
</head>
	
<body style="background-color:#ffffff;">
	
	<div id="container" style="float:left;width:1000px;">
		
		<div id="title" style ="float:left;widht:1000px;  background: rgb(100,100,300);">
			<h1 style="font-size:300%">knowledge base<h1>
			<h5>studies your questions<h5>
		</div>
		
		<div id="bodycontainer" style="float:left;width:1000px;">
			<div id="question list" style="float:left;width:500px;">
				
				<h2 style="font-size:200%">${question.title}</h2>
					<p><b>Content:</b><br>${question.content}</p>
					<p><b>Author:</b><br>${question.author.name}</p>
					<p><b>Votes:</b> Like: ${question.findLikes()} Dislike: ${question.findDislikes()}</p>
					</br>
					<p><b>Add Vote to this question:</b> <a href="@{Application.voteQuestion(question.id, true)}">like it /</a> <a href="@{Application.voteQuestion(question.id, false)}">dislike it</a> <hr>
			</div>
		
			<div id="links" style="float:left;width:200px;">
			
				<h3>it's your choise<h3>
				<u1>
					<li><a href="@{Application.createAnswer(question.id)}">add answer</a></li>
					<li><a href="@{Application.mainpage}">back to main</a>
				<u1>
			</div>	
			
		</div>
		
	
	</div>
	
	<h2>Answers</h2>
	#{list items:answers, as:'answer'}
		<span>
			<p><b>Content:</b> ${answer.content}
			<p><b>Author:</b> ${answer.author.name},Like: ${answer.findLikes()} Dislike: ${answer.findDislikes()}</p>
			<p><b>Add Vote to this answer:</b> <a href="@{Application.voteAnswer(answer.id, true, question.id)}">like it /</a> <a href="@{Application.voteAnswer(answer.id, false, question.id)}">dislike it</a> <hr>
		<span>
	#{/list}

	
		
</body>