#{set title:'Mainpage' /}
 

<head>
<title>Knowledge Base</title>
</head>
	
<body style="background-color:#ffffff;">
	
	<div id="container" style="float:left;width:1000px;">
		
		<div id="title" style ="float:left;widht:1000px;  background: rgb(100,100,300);">
			<h1 style="font-size:300%">knowledge base<h1>
			<h5>studies your questions<h5>
		</div>
		
		<div id="bodycontainer" style="float:left;width:1000px;">
			<div id="question list" style="float:left;width:500px;">
				
				<h2 style="font-size:150%">a lot of questions (click for details)</h2>
					#{list items:renderquestions, as:'question'}
							<span><p>
								<h2><a href="@{Application.showQuestion(question.id)}">${question.title}</a><h2>
									<u1>
										<li style="font-size:50%">${question.findLikes()} people think this is a good question</p></br>
							</span>
						#{/list}
			</div>
		
			<div id="links" style="float:left;width:200px;">
			
				<h3>it's your choice<h3>
				<u1>
					<li><a href="@{Application.createQuestion}">add question</a></li>
				<u1>
			</div>	
			
		</div>
	</div>			
		
</body>