#{extends 'main.html' /}
#{set title:question.title/}

<ul id="pagination">
    #{if question.previous()}
        <li id="previous">
            <a href="@{Application.showQuestions(question.previous().id)}">
                ${question.previous().title}
            </a>
        </li>
    #{/if}
    #{if question.next()}
        <li id="next">
            <a href="@{Application.showQuestions(question.next().id)}">
                ${question.next().title}
            </a>
        </li>
    #{/if}
</ul>

#{if flash.success}
 	<p class="success">${flash.success}</p>
#{/if}


#{display question:question, as:'full'/}

<h3>Post a answer</h3>
#{form @Application.questionAnswer(question.id)}
	
	#{ifErrors}
		<p class="error">
			All fields are required!
		</p>
	#{/ifErrors}
	

	<p>
		<label for="content">Your answer:</label>
		<textarea name="content" id="content"></textarea>
	</p>
	<p>
		<input type="submit" value="Submit your answer"/>
	</p>
#{/form}